#app {
  width: 100vw;
  min-height: 100vh;
  background-color: rgb(212, 236, 245);
  padding: 2rem 7.5vw;
}

.table__sort__button {
  background-color: transparent;
  outline: none;
  border: 0;
}

.badge {
  p {
    margin: 0;
  }
}

.fa__icon {
  font-size: 34px;

  :hover {
    opacity: 0.75;
  }
}
