#app {
  width: 100vw;
  min-height: 100vh;
  background-color: #262626;
  padding: 2rem 7.5vw;
  font-family: "Source Sans Pro", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.rounded-xl {
  border-radius: 15px;
}

.bg-light-green {
  background-color: #aeeb8e;
}

.table-sort-button {
  background-color: transparent;
  outline: none;
  border: 0;
}

.badge {
  p {
    margin: 0;
  }
}

.fa-icon {
  font-size: 34px;

  :hover {
    opacity: 0.75;
  }
}
